$purple-100: #f0eafd;
$purple-200: #d0bcf9;
$purple-300: #6828ed;
$purple-400: #5e24d5;
$purple-500: #5320be;
$purple-600: #4e1eb2;
$purple-700: #3e188e;
$purple-800: #2f126b;
$purple-900: #240e53;

$blue-100: #e7f7fe;
$blue-200: #b4e6fb;
$blue-300: #0cadf3;
$blue-400: #0b9cdb;
$blue-500: #0a8ac2;
$blue-600: #0982b6;
$blue-700: #076892;
$blue-800: #054e6d;
$blue-900: #043d55;

$green-100: #e6fcf2;
$green-200: #b2f6d5;
$green-250: #3BF296;
$green-300: #05e279;
$green-400: #05cb6d;
$green-500: #04b561;
$green-600: #04aa5b;
$green-700: #038849;
$green-800: #026636;
$green-900: #024f2a;

$gray-100: #ffffff;
$gray-150: #f4f4f4;
$gray-200: #f4f5f7;
$gray-300: #dfdfdf;
$gray-400: #a9a9a9;
$gray-600: #5c5c5c;
$gray-800: #212121;
$gray-900: #000000;